/* HUD SECTION */
.hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 1.6rem;
}

.hud-main-text {
  text-align: center;
}

/* PROGRESS BAR */
.progress-outter-div {
  width: 20rem;
  height: 4rem;
  border: .3rem solid var(--primaryColor);
  margin-top: 1.5rem;
}

.progress-inner-div {
  background-color: var(--primaryColor);
  height: 3.4rem;
  width: 0;
}

/* QUESTION SECTION */
.choice-container {
  display: flex;
  font-size: 1.8rem;
  background-color: var(--whiteColor);
  width: 100%;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  margin-bottom: 0.5rem;
}

.choice-container:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
  cursor: pointer;
}

.choice-prefix {
  background-color: var(--primaryColor);
  color: var(--whiteColor);
  padding: 1.5rem 2.5rem;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: var(--greenColor);
}

.incorrect {
  background-color: var(--redColor);
}
